* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url(/cursor1.cur),default;
    flex-wrap: wrap;
    background-color: #f7f8ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    width: 100px;
    height: 700px;
    position: fixed;
    background-color: black;
    border-right: 3px solid gray;
    
}

.container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    
}

.logo {
    width: 31em;
   /* animation: logo 3s linear infinite*/
}

/*@keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}*/

.logo-icon {
    animation: logo 3s linear infinite
}

@keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


.btn-header {
    cursor: url(/cursor3.cur), pointer;
    color: white;
    font-size: 11pt;
    background-color: black;
    border: 3px solid black;
    transition: 0.2s;

}

.btn-header:hover {
    border-bottom: 3px solid white;
}

.line-division {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 60px;
    margin-top: 60px;
}

.main-info {
    flex-wrap: wrap;
    margin-left: 10em;
    line-height: 40px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 130px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
    line-height: 40px;
}

.btn-simulation {
    cursor: url(/cursor3.cur), pointer;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 15pt;
    width: 15em;
    border-radius: 50px 20px;
    transition: .5s;
    border: 2px solid gray;

}

.btn-simulation:hover {
    background-color: white;
    color: black;
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

nav {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction:row ;
    justify-content: space-between;
    gap: 3em;
    flex-wrap: wrap;
}

iframe {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}